data/
checkpoint/
*.pyc
.vscode/
*.log
*.pth
data/
log/
*.npy
*.pkl
*.mp4
*.whl
*.tar.gz
*.zip
*.pyc
*.log
__pycache__/
dataset/cylinder_flow/
modulus-launch/
.venv/
raw_dataset/
load_modules.sh
.train.py.swp
__USAGE_RULES__
error_file
output_file
